*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
}
.cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
}
.card img{
  width: 150px;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}
.card{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 300px;
  height: 400px;

  padding-top: 50px;

  align-items: center;
  justify-content: center;
 padding: 39px;
}
.btn{
  padding: 5px 30px;
  background-color: rgb(255, 128, 0);
  border: none;
  color: aliceblue;
  border-radius:5px;
  margin-top: 10px;
}
.card h3{
  padding-top: 10px;
  padding-bottom: 10px;
}
.card:hover{
  /* transition: 0.5s; */
  transform: translate(10px);
  cursor: pointer;
  background-color:white;
  
}

.selected-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dark{
 background:transparent;
 border:none;
 position: fixed;
 top: 20px;
 right: 30px;
 border-radius: 50%;
 background-color:black;
}

.light{
  position: fixed;
    top: 20px;
    right: 30px;
    border-radius: 50%;
    background-color: black;
    display: none;
}
.darkk{
  background-color: rgb(23, 21, 21);
  color: aliceblue;
  box-shadow: rgba(153, 39, 39, 0.35) 0px 5px 15px;
}
.darkk .card{
      box-shadow: rgba(248, 247, 247, 0.35) 0px 5px 15px;
      background-color:azure;
    color:rgb(8, 8, 8);
}